*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(var(--main-text-color));
}

ul,
ol {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}
